{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Lista</title>
{% endblock %}

{% block conteudo1 %}
{% endblock %}

{% block conteudo2 %}
<div id="hero-animated" class="hero-animated">

    <div class="container col-lg-8"">
        <a href=" {% url 'cadastrar-cidade' %}" class="btn btn-success float-left"
        style="margin-bottom: 20px; background-color: #05c46b; border-color: transparent;">
        Nova cidade
        </a>


        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Estado</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.nome }}</td>
                        <td>{{ obj.estado.nome }}</td>
                        <td>
                            <a href="{% url 'editar-cidade' obj.pk %}" class="btn btn-success btn-sm" title="Editar"
                                style="background-color: #05c46b; border-color: transparent;">
                                <i class="bi bi-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'excluir-cidade' obj.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                                <i class="bi bi-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="100%">Nenhum registro encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            Anterior
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item">
                        <a class="page-link" href="#">
                            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </a>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            Próximo
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            Última
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>
</div>
{% endblock %}