{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Lista</title>
{% endblock %}

{% block conteudo1 %}
{% endblock %}

{% block conteudo2 %}
<div id="hero-animated" class="hero-animated">

    <div class="container">
        <div class="table-responsive" style="overflow: hidden">
            <a href="{% url 'cadastrar-endereco' %}" class="btn btn-success float-left"
                style="margin-bottom: 20px; background-color: #05c46b; border-color: transparent;">
                Novo endereço
            </a>

            <form action="?" method="GET" class="float-right">

                <input type="text" name="rua" id="" value="{{ request.GET.rua }}" class="p-1 border"
                    autocomplete="off" placeholder="Nome da rua..."
                    style="border:solid 1px; border-radius:15px; width:250px;">

                <a href="{% url 'listar-endereco' %} " class="btn btn-success"
                    style="margin-bottom: 5px; background-color: #c5c5c5; border-color: transparent;">
                    Limpar pesquisa
                </a>

            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Rua</th>
                        <th>Número</th>
                        <th>Bairro</th>
                        <th>Compartilhado</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.rua }}</td>
                        <td>{{ obj.numero }}</td>
                        <td>{{ obj.bairro }}</td>
                        {% if obj.endereco_compartilhado %}
                        <td>Sim</td>
                        {% else %}
                        <td>Não</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'editar-endereco' obj.pk %}" class="btn btn-success btn-sm" title="Editar"
                                style="background-color: #05c46b; border-color: transparent;">
                                <i class="bi bi-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'excluir-endereco' obj.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                                <i class="bi bi-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="100%">Nenhum registro encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1"
                            style="border: none; background-color: transparent; color: #05c46b; font-size: 17px;">
                            Primeira
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                            style="border: none; background-color: transparent; color: #05c46b; font-size: 17px;">
                            Anterior
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item">
                        <a class="page-link" href="#"
                            style="border: none; background-color: transparent; color: #05c46b; font-size: 17px;">
                            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </a>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                            style="border: none; background-color: transparent; color: #05c46b; font-size: 17px;">
                            Próximo
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
                            style="border: none; background-color: transparent; color: #05c46b; font-size: 17px;">
                            Última
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </div>
</div>
{% endblock %}