{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Lista</title>
{% endblock %}

{% block conteudo1 %}
{% endblock %}

{% block conteudo2 %}
<div id="hero-animated" class="hero-animated">

    <div class="container">
        <a href="{% url 'cadastrar-item-descartavel' %}" class="btn btn-success float-left"
            style="margin-bottom: 20px; background-color: #05c46b; border-color: transparent;">
            Novo item
        </a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Quantidade</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.nome }}</td>
                        <td>{{ obj.categoria.nome }}</td>
                        <td>{{ obj.quantidade }}</td>
                        <td>
                            <a href="{% url 'editar-item-descartavel' obj.pk %}" class="btn btn-success btn-sm"
                                title="Editar" style="background-color: #05c46b; border-color: transparent;">
                                <i class="bi bi-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'excluir-item-descartavel' obj.pk %}" class="btn btn-danger btn-sm"
                                title="Excluir">
                                <i class="bi bi-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="100%">Nenhum registro encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}