{% extends 'paginas/modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>Deletar</title>
{% endblock %}

{% block conteudo1 %}
{% endblock %}

{% block conteudo2 %}
<div id="hero-animated" class="hero-animated">
    <div class="container">
        <H5>
            <p class="lead">
                Confirme a Exclusão
            </p>
        </H5>
        <hr>
        <form action="" method="POST">
            <P>
                Deseja Excluir o Registro: <strong>{{ object }}</strong>
            </P>
            
            <p class="lead" style="text-align: center!important;">
                <button type="submit" class="btn btn-danger">
                    Excluír
                </button>
                <a href="{% url 'listar-estado' %}" class="btn btn-info">Voltar</a>
            </p> 
        </form>
    </div>
</div>
{% endblock %}