{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block titulo %}
  <title>Recicla CF</title>
  {% endblock %}

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="{% static 'css/variables-green.css' %}" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url 'inicio' %}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <h1>Reclica CF<span>.</span></h1>
      </a>

      <!-- ======= Navbar ======= -->
      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Cadastros</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li><a href="{% url 'listar-estado' %}">Estado</a></li>
              <li><a href="#">Item Descartavel</a></li>
              <li><a href="#">Endereço de Armazenamento</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'sobre' %}">Sobre</a></li>
        </ul>
      </nav>
      <!-- .navbar -->

      <div style="padding-right: 22px">
        <nav id="navbar" class="navbar">
          <ul>
            <li class="dropdown"><a href="#"><span>Perfil</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i>
              </a>
              <ul>
                <li><a href="#">Editar</a></li>
                <li><a href="#">Sair</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </header>
  <!-- End Header -->
  {% block conteudo1 %}
  <section id="hero-animated" class="hero-animated d-flex align-items-center">

    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
      data-aos="zoom-out">

      <img src="{% static 'img/hero-carousel/hero-carousel-3.svg' %}" class="img-fluid animated">
      <h2>Bem vindo ao <span>Reclica CF</span></h2>
      <p>A reciclagem é um importante processo para a diminuição do lixo e da extração de recursos, porém não é a única
        medida responsável por uma sociedade sustentável.</p>
      <!-- <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Comece</a>
      </div> -->

    </div>

  </section>
  {% endblock %}

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      {% block conteudo2 %}
      <div class="container" data-aos="zoom-out">
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
          </div>
        </div>
      </div>
      {% endblock %}
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-legal text-center">
      <div
        class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Franciel Ruam</span></strong>. Todos os direitos reservados
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> -->
          <a href="https://www.linkedin.com/in/franciel-ruam-995644174/" class="linkedin"><i
              class="bi bi-linkedin"></i></a>
          <!-- <a href="ruanvha15@gmail.com" class="email"><i class="bi bi-envelope"></i></a> -->
          <a href="https://github.com/Francielxyz" class="github"><i class="bi bi-github"></i></a>
        </div>

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>