{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Sobre</title>
{% endblock %}

{% block conteudo1 %}
<section id="hero-animated" class="hero-animated d-flex align-items-center" style="margin-bottom: -50px;">

    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
        data-aos="zoom-out">
        <img src="{% static 'img/hero-carousel/hero-carousel-1.svg' %}" class="img-fluid animated">
        <h2>Bem vindo ao <span>Buscaki</span></h2>
        <p>O resíduo eletrônico, também conhecido como “E-lixo” a cada dia mais se destaca como um problema da
            modernidade,
            consequência das inovações desenvolvidas nas últimas décadas, que incentivam o consumo e tornam a tecnologia
            obsoleta em
            pouquíssimo tempo.
        </p>
    </div>

</section>
{% endblock %}

{% block conteudo2 %}
{% endblock %}

{% block section %}
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
    <div class="container-fluid" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content px-xl-5">
                    <h3>5 curiosidades sobre o <strong>E-lixo</strong></h3>
                    <p>
                        Abaixo listamos algumas curiosidades sobre o lixo eletrônico.
                    </p>
                </div>

                <div class="accordion accordion-flush px-xl-5" id="faqlist">

                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-1">
                                <i class="bi bi-question-circle question-icon"></i>
                                Quantos milhões de toneladas foram geradas em 2019?
                            </button>
                        </h3>
                        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Em 2019, foram geradas mais de 50 milhões de toneladas de resíduo eletrônico no mundo
                                dos quais apenas 10 milhões de
                                toneladas foram descartadas de forma correta e recicladas. A quantidade de aparelhos
                                eletroeletrônicos está crescendo de
                                3% a 4% ao ano. Assim, até 2025 estaremos desperdiçando 60 milhões de toneladas ao ano,
                                o equivalente a 290 mil Estátuas
                                da Liberdade.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-2">
                                <i class="bi bi-question-circle question-icon"></i>
                                Quais os materiais mais coletados no Estado de São Paulo?
                            </button>
                        </h3>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Em 2018, os materiais mais coletados no Estado de São Paulo (um dos estados mais
                                desenvolvidos) foram acessórios para
                                impressoras, como cabos, totalizando mais de 8 mil unidades coletadas. Seguido por
                                eletroportáteis, como
                                liquidificadores, mixers e purificadores de água, com 6.497 unidades, e celulares com
                                4.144 unidades.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-3">
                                <i class="bi bi-question-circle question-icon"></i>
                                Quais materiais podem ser criados com os resíduos eletrônicos?
                            </button>
                        </h3>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Com a reciclagem do resíduo eletrônico é possível produzir diversos materiais. As pilhas
                                usadas, por exemplo, podem ser
                                transformadas em pigmentos para fogos de artifício, pisos cerâmicos, vidros, tintas,
                                além da reutilização do zinco.
                                Placas de circuitos eletrônicos são enviados para a recuperação de metais e as partes
                                metálicas são recicladas e
                                transformadas em novas peças. Nas olimpíadas de 2020 em Tóquio, no Japão, as medalhas
                                entregues foram confeccionadas a
                                partir do lixo eletrônico.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-4">
                                <i class="bi bi-question-circle question-icon"></i>
                                Quantos reais podem ser gerados/economizados com 44,7 milhões de toneladas de resíduos
                                eltrônicos?
                            </button>
                        </h3>
                        <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                <i class="bi bi-question-circle question-icon"></i>
                                Estima-se que em 44,7 milhões de toneladas de resíduo eletrônico é possível
                                economizar/lucrar mais de R$ 252 bilhões
                                apenas reutilizando os materiais presentes nos equipamentos descartados. Segundo
                                pesquisa realizada pelo Centro de
                                Tecnologia Mineral (Cetem), 85% dos brasileiros guardam em casa algum tipo de
                                equipamento eletrônico que não funciona
                                mais e que poderiam estar contribuindo para a circulação da economia, além de diminuir a
                                emissão de CO2. No Brasil, a
                                projeção da Universidade das Nações Unidas (UNU) com dados de 2016 aponta que seria
                                possível recuperar cerca de R$ 4
                                bilhões com a mineração urbana do cobre, alumínio, ouro e prata, presentes em aparelhos
                                eletroeletrônicos descartados no
                                país.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-5">
                                <i class="bi bi-question-circle question-icon"></i>
                                Quantos porcentos de ouro estima-se que foi perdido com resíduos eletrônicos?
                            </button>
                        </h3>
                        <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Com a destinação inadequada do resíduo eletrônico, estima-se que até hoje 7% do ouro do
                                mundo tenha sido perdido. Por
                                exemplo, em celulares antigos e placas de computadores podemos encontrar ouro e prata
                                que geralmente são descartados
                                junto com o lixo comum. É possível promover a reciclagem desses metais e reutilizá-los
                                na produção de novos produtos.
                            </div>
                        </div>
                    </div><!-- # Faq item-->
                </div>
            </div>
            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                style='background-image: url("assets/img/faq.jpg");'>&nbsp;</div>
        </div>

        <div class="section-header" style="padding-top: 45px">

            <p>5 Curiosidades sobre o lixo eletrônico. Disponível em:
                <a
                    href="https://greeneletron.org.br/blog/5-curiosidades-sobre-o-lixo-eletronico/#:~:text=Separamos%20algumas%20curiosidades%20sobre%20o,3%25%2D4%25%20ao%20ano.">greeneletron</a>.
                Acesso: 06 dez. 2022.
            </p>
        </div>

    </div>
</section><!-- End F.A.Q Section -->


{% endblock %}